<div class="calendar-directive row">
  <div class="day col-sm-3 col-xs-12" ng-repeat="day in days track by $index">
    <article class="panel" ng-class="{'panel-info': !day.empty, 'panel-danger': day.empty}">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="badge">{{day.date | date: 'dd'}}</span>
          <span class="pull-right">{{day.date | date: 'EEEE'}}</span>
        </h3>
      </div>
      <div class="panel-body">
        <p class="label label-info" ng-repeat="item in day.items track by item.id">
          <a class="pull-left" href="#/reservation/{{item.id}}">{{item.floor}}° {{item.department | department}} | {{item.time | time}}</a>
          <a class="pull-right" ng-show="item.creation_user === user.id" ng-click="delete(item.id)">delete</a>
        </p>
      </div>
    </article>
  </div>
</div>
